* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

h2, h4, h5, h6, p, a, span, button {
  font-family: "Roboto", sans-serif;
}

h1, h3 {
  font-family: "Shrikhand", cursive;
}

a {
  color: inherit;
}

main {
  padding-top: 50px;
}

header {
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
}
header h1 {
  display: inline-flex;
}

.border__input {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  background: #d9d9d9;
  align-items: center;
}
.border__input :focus {
  outline: none;
}
.border__input--icon {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.border__input--text {
  border: none;
  background: none;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.border__input--text::placeholder {
  color: #666666;
}

.resume {
  width: 100%;
  text-align: center;
  padding: 20px 20px 60px 20px;
  background: #f2f2f2;
}
.resume h2 {
  margin: 15px 0;
}
.resume p {
  margin-bottom: 40px;
}
.resume__btn--explore {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.resume__btn--explore:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.btn-section {
  padding: 20px;
}

.button {
  width: 100%;
  display: flex;
  margin: 25px 0;
  padding: 20px 0;
  font-size: 14px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  background: #f2f2f2;
  align-items: center;
}
.button:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.button:hover {
  background: #e4d5f6;
}
.button:hover .icon {
  color: #9356DC;
}

.border-stickers {
  width: 1%;
}
.border-stickers .stickers {
  border: 1px solid green;
  margin-left: -10px;
  border-radius: 15px;
  padding: 2px 6px;
  color: white;
  background: #9356DC;
}

.border-icontxt {
  width: 99%;
  text-align: center;
}

.icontxt {
  display: inline-flex;
  align-items: center;
}
.icontxt .icon {
  color: #666666;
}
.icontxt .txt {
  padding: 0 10px;
}

.bg-section {
  width: 100%;
  background: #f2f2f2;
  padding: 55px 20px;
}
.bg-section .border-1 {
  border: 1px solid red;
}

/*# sourceMappingURL=style.css.map */
