* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

h2, h4, h5, h6, p, a, span, button {
  font-family: "Roboto", sans-serif;
}

h1, h3 {
  font-family: "Shrikhand", cursive;
}

a {
  color: inherit;
}

main {
  padding-top: 50px;
}

@keyframes fa-check-rotation {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes fa-check-anticlockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@media (max-width: 768px) {
  footer .footer-phone {
    text-align: left;
    padding-bottom: 10px;
  }
  footer .footer-section {
    display: block;
    justify-content: start;
    text-align: left;
    padding: 0;
  }
  footer .footer-info-noicon {
    display: flex;
  }
}
header {
  width: 100%;
  top: 0;
  position: fixed;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background: #fff;
  z-index: 1;
}
header .arrow-left {
  width: 15px;
  font-size: 20px;
  text-align: right;
}
header .heading-title {
  width: 80%;
}

footer {
  background: #2b2b2b;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 15px 0;
  line-height: 25px;
}
.footer-section .footer-info {
  display: flex;
  align-items: center;
}
.footer-section .footer-info i {
  padding-right: 15px;
  width: 30px;
}

.border__input {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  background: #d9d9d9;
  align-items: center;
}
.border__input :focus {
  outline: none;
}
.border__input--icon {
  font-size: 20px;
}
.border__input--text {
  border: none;
  background: none;
  text-align: center;
  font-size: 15px;
}
.border__input--text::placeholder {
  color: #666666;
}

.resume {
  width: 100%;
  text-align: center;
  padding: 20px 20px 60px 20px;
  background: #f2f2f2;
}
.resume h2 {
  margin: 15px 0;
}
.resume p {
  margin-bottom: 40px;
}
.resume__btn--explore {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  padding: 15px 25px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.resume__btn--explore:hover {
  background: #ff79da;
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.9542191877) 0%, rgba(147, 86, 220, 0.95) 100%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.btn-section {
  padding: 20px;
}

.button {
  display: flex;
  margin: 25px 0;
  font-size: 14px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: #f2f2f2;
  align-items: center;
  padding: 20px 0;
}
.button:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.button:hover {
  background: #e4d5f6;
}
.button:hover .icon {
  color: #9356DC;
}

.border-stickers {
  width: 1%;
}
.border-stickers .stickers {
  margin-left: -10px;
  border-radius: 15px;
  padding: 2px 6px;
  color: #fff;
  background: #9356DC;
}

.border-icontxt {
  width: 99%;
  text-align: center;
}

.icontxt {
  display: inline-flex;
  align-items: center;
}
.icontxt .icon {
  color: #666666;
  text-align: left;
}
.icontxt .txt {
  padding-left: 15px;
  text-align: left;
  width: 190px;
}

.bg-section {
  width: 100%;
  background: #f2f2f2;
  padding: 55px 20px;
}
.bg-section .section-border1 {
  margin-top: 20px;
}
.bg-section .section-border2 .card {
  height: 200px;
  background: #f7f7f7;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100%;
}
.bg-section .section-border2 .card:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  background: white;
}
.bg-section .section-border2 .card .card-img1 {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.bg-section .section-border2 .card .card-img1 .stickers-new {
  background: #99E2D0;
  color: #278870;
  font-size: 13px;
  padding: 5px 10px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 1.5px;
}
.bg-section .section-border2 .card .card-img2 {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.bg-section .section-border2 .card .card-img2 .stickers-new {
  background: #99E2D0;
  color: #278870;
  font-size: 13px;
  padding: 5px 10px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 1.5px;
}
.bg-section .section-border2 .card .card-img3 {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.bg-section .section-border2 .card .card-img4 {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.bg-section .section-border2 .card .card-info {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.bg-section .section-border2 .card .card-info .title-txt {
  line-height: 22px;
}
.bg-section .section-border2 .card .card-info .title-txt .p-size {
  font-size: 14.5px;
}
.bg-section .section-border2 .card .card-info .icon-gen {
  line-height: 0;
  font-size: 20px;
}
.bg-section .section-border2 .card .card-info .icon-gen .heart-fill {
  position: absolute;
  color: transparent;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}
.bg-section .section-border2 .card .card-info .icon-gen .heart-fill:hover {
  opacity: 1;
}

.img-height-1 {
  width: 100%;
  height: 250px;
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.img-height-2 {
  width: 100%;
  height: 250px;
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.img-height-3 {
  width: 100%;
  height: 250px;
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.img-height-4 {
  width: 100%;
  height: 250px;
  background-position: center bottom 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.bg-menus {
  background: #f2f2f2;
  margin-top: -55px;
  border-radius: 30px 30px 0 0;
  padding: 20px 15px;
}

.bg-menus-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bg-menus-first .icon-gen {
  line-height: 0;
}
.bg-menus-first .icon-gen .heart-fill {
  position: absolute;
  color: transparent;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
  cursor: pointer;
}
.bg-menus-first .icon-gen .heart-fill:hover {
  opacity: 1;
}
.bg-menus-first .font-size-menus {
  font-size: 21.5px;
}
.bg-menus-first .heart-menus {
  font-size: 20px;
}

.menus-card {
  padding-top: 20px;
}
.menus-card .uppercase-menus {
  text-transform: uppercase;
  font-size: 13.5px;
  border-bottom: 3px solid #99E2D0;
  width: 32px;
}
.menus-card .button-menus {
  display: flex;
  margin: 25px 0;
  font-size: 14px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: #f7f7f7;
  margin-top: 10px;
  align-items: center;
  overflow: hidden;
  border: 1px solid blue;
}
.menus-card .button-menus:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.menus-card .button-menus:hover {
  background: white;
}
.menus-card .button-menus #bg-check-icon {
  background-color: #99E2D0;
}
.menus-card .button-menus .font-color-icon {
  color: #fff;
  font-size: 22.5px;
  padding: 20px;
  border-radius: 0 15px 15px 0;
  margin-right: -100px;
  transition: margin-right 900ms;
  animation: fa-check-anticlockwise 500ms;
}
.menus-card .button-menus:hover .font-color-icon {
  margin-right: 0;
}
.menus-card .button-menus:hover i {
  animation: fa-check-rotation 900ms;
}
.menus-card .button-menus .inside-menus {
  width: 100%;
  line-height: 18px;
  border: 1px solid red;
  padding: 10px;
}
.menus-card .reduct-mt {
  margin-top: -10px;
}
.menus-card .menu-details {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.menus-card .price-menus {
  font-weight: bold;
  background: red;
}

.ordered-button {
  text-align: center;
  margin: 50px 0 25px 0;
}
.ordered-button button {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  padding: 15px 25px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 200px;
  cursor: pointer;
}
.ordered-button button:hover {
  background: #ff79da;
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.9542191877) 0%, rgba(147, 86, 220, 0.95) 100%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

/*# sourceMappingURL=style.css.map */
