    // Barre de recherche
.border__input {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    background: $searchbar-colour;
    align-items: center;
    
    :focus {
        outline: none;
    }

    &--icon {
        font-size: 20px;
        @include padding-margin;
    }

    &--text {
        border: none;
        background: none;
        text-align: center;
        font-size: 15px;
        @include padding-margin;

        &::placeholder {
            @include light-icon-colour;
        }
    }
}



// Résumé du site + bouton
.resume {
    width: 100%;
    text-align: center;
    padding: 20px 20px 60px 20px;
    background: $bg-colour;

    h2 {
        margin: 15px 0;
    }

    p {
        margin-bottom: 40px;
    }

    &__btn--explore {
        @include button-colour
    } 
}



// Fonctionnement

.btn-section {
    padding: 20px;
}

.button {
    @include button-transparent;
    background: $bg-colour;
    align-items: center;

    &:hover {
        @include light-colour;

        .icon {
            color: $colour-primary;
        }
    }
}

.border-stickers {
    // border: 1px solid maroon;
    width: 1%;

    .stickers {
        // border: 1px solid green;
        margin-left: -10px;
        border-radius: 15px;
        padding: 2px 6px;
        color: white;
        background: $colour-primary;
    }
}

.border-icontxt {
    // border: 1px solid orange;
    width: 99%;
    text-align: center;
}

.icontxt {
    display: inline-flex;
    align-items: center;
    // border: 1px solid blue;

    .icon {
        // border: 1px solid black;
        @include light-icon-colour;
    }
    
    
    .txt {
        // border: 1px solid purple;
        padding: 0 10px;
    }
}

.bg-section {
    width: 100%;
    background: $bg-colour;
    padding: 50px 20px;
    // border: 1px solid black;

    .border-1 {
        // border: 1px solid red;
        margin-top: 20px;
    }




    .border-2 {
        // border: 1px solid purple;

        .card {
            // border: 1px solid green;
            @include card-bg;
            

            .card-img1 {
                // border: 1px solid orange;
                @include card-img;
                background-image: url(/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);

                .stickers-new {
                    @include stickers-new;
                }
            }

            .card-img2 {
                @include card-img;
                
                background-image: url(/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);

                .stickers-new {
                    @include stickers-new;
                }
            }

            .card-img3 {
                @include card-img;
                background-image: url(/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }

            .card-img4 {
                @include card-img;
                background-image: url(/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            }

            .card-info {
                // border: 1px solid blue;
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;

                .title-txt {
                    // border: 1px solid burlywood;
                    line-height: 22px;

                    .p-size {
                        font-size: 14.5px;
                    }
                }

                .icon-gen {
                    // border: 1px solid rosybrown;
                }
            }
        }
    }
}