// Barre de recherche
.border__input {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    @include gray-colour;
    align-items: center;
    
    :focus {
        outline: none;
    }

    &--icon {
        font-size: 20px;
    }

    &--text {
        border: none;
        background: none;
        text-align: center;
        font-size: 15px;

        &::placeholder {
            @include light-icon-colour;
        }
    }
}



// Résumé du site + bouton
.resume {
    width: 100%;
    text-align: center;
    padding: 20px 20px 60px 20px;
    @include light-gray-colour;

    h2 {
        margin: 15px 0;
    }

    p {
        margin-bottom: 40px;
    }

    &__btn--explore {
        @include button-colour;
    } 
}



// Fonctionnement

.btn-section {
    padding: 20px;
}

.button {
    @include button-transparent;
    @include light-gray-colour;
    align-items: center;

    &:hover {
        @include light-colour;

        .icon {
            color: $colour-primary;
        }
    }
}

.border-stickers {
    width: 1%;

    .stickers {
        margin-left: -10px;
        border-radius: 15px;
        padding: 2px 6px;
        color: $colour-light;
        background: $colour-primary;
    }
}

.border-icontxt {
    width: 99%;
    text-align: center;
}

.icontxt {
    display: inline-flex;
    align-items: center;

    .icon {
        @include light-icon-colour;
        text-align: left;
    }
    
    
    .txt {
        padding-left: 15px;
        text-align: left;
        width: 190px;
    }
}


// Restaurants

.bg-section {
    width: 100%;
    @include light-gray-colour;
    padding: 55px 20px;

    .section-border1 {
        margin-top: 20px;
    }

    .section-border2 {

        .card {
            @include card-bg;
            

            .card-img1 {
                @include card-img;
                background-image: url(/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);

                .stickers-new {
                    @include stickers-new;
                }
            }

            .card-img2 {
                @include card-img;
                
                background-image: url(/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);

                .stickers-new {
                    @include stickers-new;
                }
            }

            .card-img3 {
                @include card-img;
                background-image: url(/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            }

            .card-img4 {
                @include card-img;
                background-image: url(/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            }

            .card-info {
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;

                .title-txt {
                    line-height: 22px;
                    // border: 1px solid black;

                    .p-size {
                        font-size: 14.5px;
                        // border: 1px solid red;
                    }
                }

                .icon-gen {
                    // border: 1px solid green;
                    line-height: 0;
                    font-size: 20px;

                    .heart-fill {
                        position: absolute;
                        color: transparent;
                        
                        &:hover {
                            background: -webkit-linear-gradient($colour-secondary, $colour-primary);
                            background-clip: text;
                            -webkit-background-clip: text;
                        }
                    }
                }
            }
        }
    }
}