main {

    padding-top: 50px;

    // Barre de recherche
    .border--input {
        width: 100%;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        background: $searchbar-colour;
        align-items: center;
        
        :focus {
            outline: none;
        }
    
        .border__icon {
            font-size: 20px;
            @include padding-margin;
        }
    
        .border__text {
            border: none;
            background: none;
            text-align: center;
            font-size: 15px;
            @include padding-margin;
        }
    }

    .resume {
        flex: 1;
        text-align: center;
        padding: 20px 20px 40px 20px;
        background: $bg-colour;

        h2 {
           margin: 15px 0;
        }

        p {
            margin-bottom: 30px;
        }

        &__btn--explore {
            @include button-colour
        } 
    }

    .btn-section {
        padding: 20px;

        &__button {
            text-align: center;
            margin: 10px 0 10px 13px;
        }

        button {
            width: 100%;
            margin: 15px 0;
            padding: 20px;
            border-radius: 15px;
            background: $bg-colour;
            border: none;
            font-weight: 400;

            .fa-store {
                
            }
        }

    }
    
}