// Images
.img-height-1 {
    @include menu-img-cover;
    
    background-image: url(/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.img-height-2 {
    @include menu-img-cover;
    background-image: url(/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.img-height-3 {
    @include menu-img-cover;
    background-image: url(/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.img-height-4 {
    @include menu-img-cover;
    background-image: url(/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}




// Design de la carte
.bg-menus {
    @include light-gray-colour;
    margin-top: -55px;
    border-radius: 30px 30px 0 0;
    padding: 20px 15px;
}


// Titres et icônes
.bg-menus-first {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-gen {
        line-height: 0;

        .heart-fill {
            position: absolute;
            color: transparent;
            background: -webkit-linear-gradient($colour-secondary, $colour-primary);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 300ms;
            cursor: pointer;

            &:hover, &:active {
                opacity: 1;
            }
        }
    }

    .font-size-menus {
        font-size: 21.5px;
    }
    
    .heart-menus {
        font-size: 20px;
    }
}



// Divisions 3 sections (entrées, plats et desserts)
.menus-card {
    padding-top: 20px;
    
    .uppercase-menus {
        text-transform: uppercase;
        font-size: 13.5px;
        border-bottom: 3px solid $colour-tertiary;
        width: 32px;
    }


// Délai des animations sur les buttons menus
    #delay0, #delay3, #delay6 {
        @include delay0;
    }

    #delay1, #delay4, #delay7 {
        @include delay1;
    }

    #delay2, #delay5, #delay8 {
        @include delay2;
    }
        // 4ème entrées en page 2
    #delay9 {
        animation-delay: 0.3s
    }

    .button-menus {
        @include button-transparent;
        @include xl-btn-colour;
        margin-top: 10px;
        overflow: hidden;
        animation: btn-animations 1s both;

        &:hover, &:active {
            @include xl-btn-colour-hover;
        }

        #bg-check0, 
        #bg-check1, 
        #bg-check2, 
        #bg-check3, 
        #bg-check4, 
        #bg-check5, 
        #bg-check6, 
        #bg-check7, 
        #bg-check8,
        #bg-check9
        {
            @include bg-check-icon;
        }

        .font-color-icon {
            color: $colour-light;
            font-size: 20px;
            padding: 18px;
            border-radius: 0 15px 15px 0;
            margin-right: -100px;
            transition: margin-right 900ms;
            animation: fa-check-anticlockwise 500ms;
        }

        &:hover, &:active {
            .font-color-icon {         
                margin-right: 0;
            }

            i {
                animation: fa-check-rotation 900ms;
            }
        }

        
        
        .inside-menus {
            width: 100%;
            line-height: 18px;
            padding: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            
            &--hidden {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .reduct-mt {
        margin-top: -10px;
    }

    .price-menus {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 10px;
    }
    
}

// Bouton commander
.ordered-button {
   text-align: center;
   margin: 50px 0 25px 0;

   button {
       @include button-colour;
       font-size: 15px;
       width: 200px;
       cursor: pointer;
   }
}