// Format smartphone et tablette
@media (max-width: 768px) {
    
    footer {
        .footer-phone {
            text-align: left;
            padding-bottom: 10px;
        }

        .footer-section {
            display: block;
            justify-content: start;
            text-align: left;
            padding: 0;
        }
    
        .footer-info-noicon {
            display: flex;
        }
    }
}