// Générales
$colour-primary:#9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-shadow: #000;

// Couleur barre de recherche
$searchbar-colour: #d9d9d9;

// Arrière-plan
$bg-colour: #f2f2f2;

// Cartes
$card-colour: #fff;

