footer {
   @include light-bg-colour;
    color: $colour-light;
    padding: 20px;
    text-align: center;
}

.footer-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px 0;
    line-height: 25px;

    .footer-info {
        display: flex;
        align-items: center;

        i {
            padding-right: 15px;
            width: 30px;
        }
    }
}